name: Build_x86_64

on: 
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        set +e
        docker rmi `docker images -q`
        echo "Deleting files, please wait ..."
        sudo rm -rf \
          /usr/share/dotnet \
          /etc/mysql \
          /etc/php
        sudo -E apt-get -y purge \
          azure-cli \
          ghc* \
          zulu* \
          hhvm \
          llvm* \
          firefox \
          google* \
          dotnet* \
          powershell \
          openjdk* \
          mysql* \
          php*
        sudo -E apt-get update
        sudo -E apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3 python2.7 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler g++-multilib antlr3 gperf wget curl swig rsync libtinfo5 lib32gcc-s1
        sudo -E apt-get -y autoremove --purge
        sudo -E apt-get clean

    - name: Clone source code
      env: 
        REPO_URL: https://github.com/coolsnowwolf/lede
        REPO_BRANCH: master
      run: |
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt
        cd openwrt
    
    - name: manual install packages
      working-directory: ./openwrt
      run: |
        git clone https://github.com/rufengsuixing/luci-app-adguardhome.git ./package/luci-app-adguardhome
        git clone https://github.com/esirplayground/luci-app-poweroff.git ./package/poweroff
        git clone https://github.com/tty228/luci-app-serverchan.git ./package/serverchan
        git clone https://github.com/honwen/luci-app-aliddns.git ./package/aliddns
        git clone https://github.com/openwrt-develop/luci-theme-atmaterial.git ./package/atmaterial
        git clone https://github.com/lisaac/luci-app-dockerman.git ./package/dockerman
        git clone https://github.com/AlexZhuo/luci-app-bandwidthd.git ./package/luci-app-bandwidthd
        
    - name: Import external feeds
      working-directory: ./openwrt
      run: |
        echo "src-git packages https://github.com/coolsnowwolf/packages" >  ./feeds.conf.default
        echo "src-git luci https://github.com/coolsnowwolf/luci" >>  ./feeds.conf.default
        echo "src-git routing https://github.com/coolsnowwolf/routing" >>  ./feeds.conf.default
        echo "src-git telephony https://git.openwrt.org/feed/telephony.git" >>  ./feeds.conf.default
        echo "#src-git video https://github.com/openwrt/video.git" >>  ./feeds.conf.default
        echo "#src-git targets https://github.com/openwrt/targets.git" >>  ./feeds.conf.default
        echo "#src-git oldpackages http://git.openwrt.org/packages.git" >>  ./feeds.conf.default
        echo "#src-link custom /usr/src/openwrt/custom-feed" >>  ./feeds.conf.default
        echo "src-git kenzok8 https://github.com/kenzok8/openwrt-packages.git" >>  ./feeds.conf.default
        echo "src-git jerrykuku https://github.com/jerrykuku/openwrt-package.git" >>  ./feeds.conf.default
        echo "src-git destan19 https://github.com/destan19/OpenAppFilter.git" >>  ./feeds.conf.default
        echo "src-git fw876 https://github.com/fw876/helloworld.git" >>  ./feeds.conf.default
        echo "src-git xiaorouji https://github.com/xiaorouji/openwrt-passwall.git" >>  ./feeds.conf.default
        echo "src-link adguardhome ./package/luci-app-adguardhome" >>  ./feeds.conf.default
        echo "src-link bandwidthd ./package/luci-app-bandwidthd" >>  ./feeds.conf.default
        echo "src-link poweroff ./package/poweroff" >>  ./feeds.conf.default
        echo "src-link aliddns ./package/aliddns" >>  ./feeds.conf.default
        echo "src-link dockerman ./package/dockerman" >>  ./feeds.conf.default
        echo "src-link serverchan ./package/serverchan" >>  ./feeds.conf.default

    - name: Update & Install feeds
      working-directory: ./openwrt
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        ./scripts/feeds install -a

    - name: Configuration Customization
      env:
        CONFIG_FILE: 'x86_64.config'
      run: |
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE openwrt/.config
        cd openwrt && make defconfig
        
    - name: Download package
      working-directory: ./openwrt
      run: |
        make download -j$(nproc) V=s
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: Build firmware
      working-directory: ./openwrt
      run: |
        echo -e "$(nproc) thread build."
        make -j$(nproc) V=s

    - name : Upload artifact
      uses: actions/upload-artifact@master
      with:
        name: OpenWrt
        path: openwrt/bin
